<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhd.ultimate.sociology.mapping.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.zhd.ultimate.sociology.entity.UserInfo">
        <id column="guid" jdbcType="VARCHAR" property="guid" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        guid
        ,
        user_name,
        pass_word,
        salt,
        real_name,
        address,
        level,
        create_time,
        update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user_info
        where guid = #{guid,jdbcType=VARCHAR}
    </select>
    <select id="queryUserByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user_info
        where user_name = #{userName,jdbcType=VARCHAR}
        limit 1
    </select>

    <insert id="insert" parameterType="com.zhd.ultimate.sociology.entity.UserInfo">
        insert into user_info (guid, user_name, pass_word,
                               salt, real_name, address,
                               level, create_time, update_time)
        values (#{guid,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR},
                #{salt,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
                #{level,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.zhd.ultimate.sociology.entity.UserInfo">
        update user_info
        set user_name   = #{userName,jdbcType=VARCHAR},
            pass_word   = #{passWord,jdbcType=VARCHAR},
            salt        = #{salt,jdbcType=VARCHAR},
            real_name   = #{realName,jdbcType=VARCHAR},
            address     = #{address,jdbcType=VARCHAR},
            level       = #{level,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where guid = #{guid,jdbcType=VARCHAR}
    </update>
</mapper>